
nav{
 background-color:black;
 color:rgb(193, 190, 204);
 display:flex;
 justify-content:space-between;
}

button{
color:rgb(130, 0, 190);  
}

img{
width: 150px;
height: 150px; ;
}

.Search{
 background-color: aliceblue;
 color: black;
 width:  90px;
 height: 45px;
 margin: 5px;
 border-radius: 20px;
}


.sidebar{
width: 149px;
height: 850px;
}

.linda{
display: flex;    
flex-direction:row;
gap: 25px;
}

